.menu {
    display: flex;
    color: gray;
    background-color: #123;
    position: sticky;
}

.item {
    display: flex;
    font-size: large;
    cursor: pointer;
    justify-content: center;
    margin: 0.5em;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 5px;
    box-shadow: inset #0009 0 0 0.4em;
    background-color: #012;
    box-sizing: border-box;
}

.item:hover {
    background-color: #234;
}

.active {
    color: salmon;
}

@media screen and (orientation: portrait) {
    .menu {
        flex-direction: column;
        border-right: solid 1px #678;
    }
}

@media screen and (orientation: landscape) {
    .menu {
        flex-direction: row;
        justify-content: center;
        border-bottom: solid 1px #678;
    }
}